/* globals */
a {
	text-decoration: none;
	color: blue;
}

a:visited {
	color: blue;
}

body {
	font-family: 'Helvetica';
	margin: 0;
}


p {
	font-size: 20px;
}

.bigGrid {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bigGrid > * {
	width: 90vw;
	padding: 24px;
}

img {
	width: 100%;
}

.introContainer {
	text-align: center;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
}

#introText {
	font-size: 36px;
}

@media screen and (min-width: 800px) {
	.bigGrid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-self: center;
		width: 90vw;
		gap: 24px;
		margin: 24px;
	}

	.bigGrid > *{
		width: 80%;
		height: 80%;
	}
	
	img {
		height: 100%;
		width: 100%;
	}

	.one {
		grid-row: 1;
		grid-column: 1;
	}
	
	.two {
		grid-row: 1;
		grid-column: 2;
	}
	
	.three {
		grid-row: 1;
		grid-column: 3;
	}
	
	.four {
		grid-row: 2;
		grid-column: 1;
	}
	
	.five {
		grid-row: 2;
		grid-column: 2;
	}
	.six {
		grid-row: 2;
		grid-column: 3;
	}
	
	.seven {
		grid-row: 3;
		grid-column: 1;
	}
	.eight {
		grid-row: 3;
		grid-column: 2;
	}
	
	.nine {
		grid-row: 3;
		grid-column: 3;
	}

	p {
		font-size: 18px;
	}
}

/* animations */
@keyframes colorTransition {
	from {
		color: black;
	}

	to {
		color: #d8b800;
	}
}

.slowYellow {
	animation: colorTransition 3s forwards;
}